<div class="h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">
    
    <h2 class="text-2xl font-bold mb-6 text-center">
      Login to your account
    </h2>

    <div *ngIf="error" class="mb-4 text-red-600 text-sm">
      {{ error }}
    </div>

    <form (submit)="submit(); $event.preventDefault()">

      <label class="block mb-4">
        <span class="text-gray-700">Email</span>
        <input type="email" [(ngModel)]="form.email" name="email"
               class="mt-1 block w-full border p-3 rounded-lg" required>
      </label>

      <label class="block mb-6">
        <span class="text-gray-700">Password</span>
        <input type="password" [(ngModel)]="form.password" name="password"
               class="mt-1 block w-full border p-3 rounded-lg" required>
      </label>

      <button type="submit"
              class="w-full py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
        <span *ngIf="!loading">Login</span>
        <span *ngIf="loading">Processing...</span>
      </button>
    </form>

    <p class="mt-4 text-center text-sm">
      Don't have an account?
      <a routerLink="/register" class="text-blue-600">Register</a>
    </p>

  </div>
</div>
